<template name="newChapter">
<div class="row">
	<div class="col s12 m12 l6">
		{{# autoForm collection="Chapters" id="insertChapterForm" type="insert"}}
			{{> afQuickField name="title"}}
			<div class="row">
      <div class="col s12 m5">
        <div class="card-panel teal">
          <span class="white-text"><b>Hint</b>: Name your chapters like this: "Chapter 1", "Week 1" etc.
          </span>
        </div>
      </div>
    </div>
			<button type="submit" class="btn waves-effect blue accent-2">create</button>
		{{/autoForm}}
	</div>
</div>
</template>

<template name="newChapterToolbar">
	<a href="/projects/{{projectId}}" class="waves-effect btn-icon">
		<i class="mdi-navigation-arrow-back"></i>
	</a>
	<div class="left brand-logo">New Chapter</div>
</template>
