<template name="updateChapter">
	{{#contentWrapper}}
		<div class="row">
			<div class="col s12">
				{{#autoForm collection="Chapters" id="updateChapterForm" type="update" doc=chapter}}
					{{> afQuickField name="title"}}

					<button type="submit" class="btn waves-effect blue accent-2">update</button>
				{{/autoForm}}
			</div>
		</div>
	{{/contentWrapper}}
</template>

<template name="updateChapterToolbar">
	<div>
		<a href="/projects/{{projectId}}" class="waves-effect btn-icon">
			<i class="mdi-navigation-arrow-back"></i>
		</a>
	</div>
	<div>Update Chapter</div>
</template>
