<template name="editUserButtons">
  {{#topButtons}}
  <div></div>
  <div>
       <a href="/editUser/{{userId}}" class="btn-icon"><i class="mdi-image-edit"></i></a>
   </div>
  {{/topButtons}}
</template>

<template name="userContext">
  <div>
		<a href="/showUsers" class="waves-effect btn-icon">
			<i class="mdi-navigation-arrow-back"></i>
		</a>
	</div>
  <div>
    {{#with user}}
      {{profile.fullname}}
    {{/with}}
  </div>
</template>

<template name="userContextEdit">
  <div>
		<a href="/showUsers/{{userId}}" class="waves-effect btn-icon">
			<i class="mdi-navigation-arrow-back"></i>
		</a>
	</div>
  <div>
    {{#with user}}
      {{profile.fullname}}
    {{/with}}
  </div>
</template>
