<template name="impressum">
  <div class='impressum'>
    <h1>Impressum</h1>
    <p>Angaben gemäß § 5 TMG</p>
    <p>
      Philipp Sporrer <br>
      Thujaweg, 3<br>
      80939 München <br>
    </p>
    <p>
      <strong>Vertreten durch: </strong><br>
      Philipp Sporrer<br>
    </p>
    <p>
      <strong>Kontakt:</strong> <br>
      Telefon: +49 (0) 176 70624030<br>
      E-Mail: <a href='mailto:philipp.sporrer@planifica.de'>philipp.sporrer@planifica.de</a><br>
    </p>
  </div>
</template>
