<template name="landingLayout">
	<main class="landing">
		<div class="landing-content">
			<h1>Welcome to Lecture Trainer!</h1>
			<h4>A <b>100% free</b> and easy to use question-answer training tool</h4>
			<div>
				<a href="/sign-up" class="btn btn-large waves-effect">Sign Up</a>
			</div>
			<div>
				Already have an account?
				<a href="/sign-in">Sign In</a>
			</div>
		</div>
	</main>
	<div class="info center-align">
		<h4 class="center-align">
			Here is how it works:
		</h4>
		<h5 class="center-align">
			1. Choose your learning-project type
		</h5>
		<img src="/images/IMG_0474.PNG" class="z-depth-1">
		<h5 class="center-align">
			2. Add questions
		</h5>
		<div class="row center-wrapper">
			<div class="col m6 s12">
				<img src="/images/IMG_0473.PNG" class="z-depth-1">
			</div>
			<div class="col m6 s12">
				<div>
					Feat. <a href="https://editor.froala.com/">Froala</a> WYSIWYG Editor
				</div>
				<img src="/images/add_question_lecture.png" class="z-depth-1">
			</div>
		</div>
		<h5 class="center-align">
			3. Learn and hopefully get better grades :)
		</h5>
		<img src="/images/IMG_0471.PNG" class="z-depth-1">
		<img src="/images/IMG_0472.PNG" class="z-depth-1">
		<div>
			GitHub Repository <a href="https://github.com/PhilippSpo/lecturetrainer">here</a>
		</div>
		{{>impressum}}
	</div>
	{{> footer}}
</template>
