<template name="layout">
	{{#globalLayout}}
	<header>
		<div class="navbar-fixed">
			<nav>
				<div class="nav-wrapper row">
					<div class="col s12">
						<div class="toolbar">
							{{> Template.dynamic template=top}}
							{{> Template.dynamic template=topButtons}}
						</div>
					</div>
				</div>
			</nav>
		</div>
	</header>

	<ul id="side-nav" class="side-nav">
		<li class="logo">
			<nav>
				<a href="#!" class="logo hide-on-med-and-down">
					Lecture Trainer
				</a>
			</nav>
		</li>
		<li>{{> atNavButton }}</li>
		<a href="/showUsers" class="waves-effect waves-light btn">Users</a>
		{{#if currentUser}}
			{{> userArea}}
		{{/if}}
		{{> Template.dynamic template=aside}}
	</ul>

	<main>
			<div class="main-content-wrapper">
					{{#momentum plugin='flow-router'}}
						{{> Template.dynamic template=main}}
					{{/momentum}}
					{{> Template.dynamic template=fab}}
			</div>
	</main>
	{{/globalLayout}}
</template>
