<template name="newQuestion">
	<div class="row">
		<div class="col s12">
			{{#autoForm collection="Questions" id="insertQuestionForm" type="insert"}}
				{{> afQuickField name="question" autocomplete="off"}}
				{{#if isSpeechProject}}
					{{> afQuickField name="answer" autocomplete="off"}}
				{{else}}
					{{> answerEditor}}
				{{/if}}
				{{> afQuickField name="tags" autocomplete="off"}}

				<button type="submit" class="btn btn-primary">Submit</button>
			{{/autoForm}}
		</div>
	</div>
</template>


<template name="newQuestionToolbar">
	<a href="/projects/{{projectId}}" class="waves-effect">
		<i class="mdi-navigation-arrow-back"></i>
	</a>
	<div class="left brand-logo">New Question</div>
</template>