<template name="newQuestion">
	{{#contentWrapper}}
		<div class="row">
			<div class="col s12">
				{{#autoForm collection="Questions" id="insertQuestionForm" type="insert"}}
					{{> afQuickField name="question" autocomplete="off"}}
					{{#if isSpeechProject}}
						{{> afQuickField name="type" options="allowed"}}
					{{else}}
						{{> afQuickField name="type" firstOption="Question-Answer" disabled=true}}
					{{/if}}
					{{#if afFieldValueIs name="type" value="Vocable"}}
						{{> afQuickField name="answer" autocomplete="off"}}
					{{else}}
						{{> answerEditor}}
			  	{{/if}}

					<button type="submit" class="btn waves-effect blue accent-2">Submit</button>
				{{/autoForm}}
			</div>
		</div>
	{{/contentWrapper}}
</template>


<template name="newQuestionToolbar">
	<div>
		<a href="/projects/{{projectId}}" class="waves-effect btn-icon">
			<i class="mdi-navigation-arrow-back"></i>
		</a>
	</div>
	<div>New Question</div>
</template>
