<template name="questionsList">
	<div class="list-heading">
		All Questions
	</div>
	<div class="collection-wrapper">
		<ul class="collection">
		{{#each questions}}
			{{> questionsListItem}}
		{{/each}}
		</ul>
		<div class="fixed-action-btn" style="bottom: 15px; right: 15px;">
			<a href="/projects/{{projectId}}/{{chapterId}}/newQuestion" id="addUser" class="btn-floating btn-large waves-effect waves-light">
				<i class="large mdi-content-add"></i>
			</a>
		</div>
	</div>
</template>

<template name="questionsListToolbar">
	{{#with project}}
		<div>
			<a href="/projects/{{_id}}" class="waves-effect btn-icon">
				<i class="mdi-navigation-arrow-back"></i>
			</a>
		</div>
	{{/with}}

	{{#with chapter}}
		<div>{{title}}</div>
	{{/with}}
</template>
