<template name="updateQuestion">
	<div class="row">
		<div class="col s12">
			{{#if isReady}}
			{{#autoForm collection="Questions" id="updateQuestionForm" type="update" doc=question}}
				{{> afQuickField name="question"}}
				{{#if isSpeechProject}}
					{{> afQuickField name="answer"}}
				{{else}}
					{{> answerEditor question}}
				{{/if}}
				{{> afQuickField name="tags"}}

				<button type="submit" class="btn waves-effect blue accent-2">Submit</button>
			{{/autoForm}}
			{{/if}}
		</div>
	</div>
</template>

<template name="updateQuestionToolbar">
	<a href="/projects/{{projectId}}" class="waves-effect">
		<i class="mdi-navigation-arrow-back"></i>
	</a>
	<div class="left brand-logo">Update Question</div>

	<!-- <ul class="right">
		<li>
			<a href="/projects/{{projectId}}" class="waves-effect">
				<i id="deleteQuestionButton" class="mdi-action-delete"></i>
			</a>
		</li>
	</ul> -->
</template>
