.dropdown-button
  display flex
  aligen-items center
  cursor pointer
  > i
    padding-left 10px

.dropdown-content
  border-radius 1px
  z-index 4 !important
  li
    padding 16px 16px 16px 24px
    font-weight 400
    span
      padding 0
