<template name="question">
	<div class="questioning-wrapper">
		{{#if isSpeechProject}}
			{{>speechQuestioning question}}
		{{else}}
			{{>qaQuestioning question}}
		{{/if}}
	</div>

	<div class="button-footer">
		<div class="center-wrapper nav-footer-wrapper">
			<button id="prevQuestion" class="btn-flat left waves-effect white">
				<i class="mdi-navigation-arrow-back"></i>
			</button>
			<button id="nextQuestion" class="right waves-effect btn-flat white">
				<i class="mdi-navigation-arrow-forward"></i>
			</button>
		</div>
	</div>
</template>

<template name="questionToolbar">
	<div>
		<a href="/projects/{{projectId}}/{{chapterId}}" class="waves-effect btn-icon">
			<i class="mdi-navigation-arrow-back"></i>
		</a>
	</div>
	<div>Translation</div>
</template>
