<template name="speechQuestioning">
	{{#if reverse}}
		What is the translation of "{{this.answer}}" in {{project.speechA}}?
	{{else}}
		What is the translation of "{{this.question}}" in {{project.speechB}}?
	{{/if}}
	<!--  (Has {{numberOfAnswers}} translations) -->

	{{#autoForm schema=answerSchema id="questioningForm" type="method" meteormethod="giveAnswer"}}

		<div class="input-field">
			<input type="text" name="answer" autofocus="" required="" data-schema-key="answer">
			<label for="ahnW8M27XXta3sYZM" class="active">
				Answer
			</label>
		</div>

		<button type="submit" class="btn waves-effect blue accent-2">Submit</button>
	{{/autoForm}}
</template>
