<template name="speechQuestioning">
	{{#if reverse}}
		What is the translation of "{{this.answer}}" in {{project.speechA}}?
	{{else}}
		What is the translation of "{{this.question}}" in {{project.speechB}}?
	{{/if}}
	<!--  (Has {{numberOfAnswers}} translations) -->

	{{#autoForm schema=answerSchema id="questioningForm" type="method" meteormethod="giveAnswer"}}
		{{> afQuickField name="answer"}}

		<button type="submit" class="btn btn-primary waves-effect">Submit</button>
	{{/autoForm}}
</template>
